@font-face {
    font-family: "Futura Std Book";
    src: url("fonts/Futura/FuturaStd-Book.OTF") format("opentype");
}
@font-face {
    font-family: "FuturaStd-CondensedBold";
    src: url("fonts/Futura/FuturaStd-CondensedBold.OTF") format("opentype");
}
@font-face {
    font-family: "FuturaStd-CondensedExtraBd";
    src: url("fonts/Futura/FuturaStd-CondensedExtraBd.OTF") format("opentype");
}
@font-face {
    font-family: "Oswald DemiBold";
    src: url("fonts/Oswald Font/Oswald-DemiBold.ttf");
}
:root {
    --primaryColor: #223230;
    --secondaryColor: #fcb048;
    --infoColor: #e9efee;
    --primaryFontFamily: "Oswald DemiBold";
    --secondaryFontFamily: "Futura Std Book";
    --secondaryFontFamilyBold: "FuturaStd-CondensedExtraBd";
    --secondaryFontFamilyBolder: "FuturaStd-CondensedBold";
}
